<a href="https://colab.research.google.com/github/crzysab/Data-Science-Real-Projects-in-Python/blob/main/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Library

In [1]:
import pandas as pd
pd.options.display.max_columns = 50

Import Dataset

In [2]:
df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/dqlab_telco.csv')

In [8]:
#Tampilkan jumlah baris dan kolom
df.shape

(7113, 22)

Menampilkan Data

In [5]:
df.head()

,UpdatedAt,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,202006,45759018157,Female,0,Yes,No,1.0,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,202006,45557574145,Male,0,No,No,34.0,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,202006,45366876421,Male,0,No,No,2.0,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,202006,45779536532,Male,0,No,No,45.0,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,202006,45923787906,Female,0,No,No,2.0,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [9]:
#Jumlah ID yang unik
df.customerID.nunique()

7017

Filter ID Number Pelanggan

In [11]:
#membuat kolom bantuan
df['valid_id'] = df['customerID'].astype(str).str.match(r'(45\d{9,10})')
#2 digit pertama adalah angka 45 diikuti 9-10 angka dibelakangnya

#menghapus kolom bantuan
df = (df[df['valid_id'] == True]).drop('valid_id', axis=1)

In [12]:
print('Hasil jumlah ID Customer yang terfilter adalah', df['customerID'].count())

Hasil jumlah ID Customer yang terfilter adalah 7006

filter Duplikasi ID Number Pelanggan

In [13]:
# Drop Duplicate Rows
df.drop_duplicates()

,UpdatedAt,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,202006,45759018157,Female,0,Yes,No,1.0,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,202006,45557574145,Male,0,No,No,34.0,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,202006,45366876421,Male,0,No,No,2.0,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,202006,45779536532,Male,0,No,No,45.0,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,202006,45923787906,Female,0,No,No,2.0,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7108,202006,45117219093,Male,0,Yes,Yes,53.0,Yes,Yes,DSL,Yes,Yes,No,No,No,Yes,Two year,No,Bank transfer (automatic),69.70,3686.05,NaN
7109,202006,45564915800,Female,0,No,No,12.0,Yes,No,Fiber optic,No,No,Yes,No,Yes,Yes,One year,No,Mailed check,95.50,1115.15,NaN
7110,202006,45655964195,Male,0,No,No,26.0,Yes,No,Fiber optic,No,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,98.65,2537.00,NaN
7111,202006,45899251814,Male,0,No,No,21.0,Yes,No,DSL,No,No,Yes,No,No,Yes,Month-to-month,No,Mailed check,61.65,1393.60,NaN
7112,202006,45427332508,Female,0,No,Yes,1.0,Yes,No,Fiber optic,No,No,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,89.35,89.35,NaN

In [16]:
# Drop duplicate ID sorted by Periode
df = df.sort_values('UpdatedAt',ascending=False).drop_duplicates(['customerID'])
#diurutkan berdasarkan periode pada kolom UpdateAt secara decending kemudian dilakukan penghapusan duplikasi

In [15]:
print('Hasil jumlah ID Customer yang sudah dihilangkan duplikasinya (distinct) adalah',df['customerID'].count())

Hasil jumlah ID Customer yang sudah dihilangkan duplikasinya (distinct) adalah 6993

Mengatasi Missing Values dengan Penghapusan Rows

In [17]:
#Penghapusan Missing Value pada kolom Churn
print('Total missing values data dari kolom Churn',df['Churn'].isnull().sum())

Total missing values data dari kolom Churn 43

In [18]:
# Mengapus missing value pada spesifik kolom (Churn)
df.dropna(subset=['Churn'], inplace=True)

In [19]:
print('Total missing values data dari kolom Churn setelah dihapus',df['Churn'].isnull().sum())

Total missing values data dari kolom Churn setelah dihapus 0

In [20]:
print('Total Rows dan kolom Data setelah dihapus data Missing Values adalah', df.shape)

Total Rows dan kolom Data setelah dihapus data Missing Values adalah (6950, 22)

Missing Values dengan Pengisian Nilai tertentu

In [22]:
#Cek Status Missing Value
print('Status Missing Values:', df.isnull().values.any())

Status Missing Values: True

In [25]:
#Cek Missing Value di Masing-masing kolom
print('Jumlah Missing Values masing-masing kolom, adalah:')
df.isnull().sum().sort_values(ascending=False)

Jumlah Missing Values masing-masing kolom, adalah:

tenure              99
MonthlyCharges      26
TotalCharges        15
Churn                0
InternetService      0
customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
PhoneService         0
MultipleLines        0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
UpdatedAt            0
dtype: int64

In [26]:
#Mengatasi missing values pada kolom Tenure dengan 11
#pihak data modeller meminta setiap rows yang memiliki missing values untuk Lama berlangganan di isi dengan 11
df['tenure'].fillna(11 , inplace=True)

In [27]:
#Mengatasi missing values Variable angka (kecuali Tenure)
for col_name in list(['MonthlyCharges','TotalCharges']):
  #menggunakan median
	median = df[col_name].median() #mendapatkan nilai median untuk setiap kolom
	df[col_name].fillna(median, inplace=True) #mengatasi missing value dengan mengisikan median

In [28]:
print('Jumlah Missing Values Setelah di imputer datanya, adalah:')
df.isnull().sum().sort_values(ascending=False)

Jumlah Missing Values Setelah di imputer datanya, adalah:

Churn               0
TotalCharges        0
customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
UpdatedAt           0
dtype: int64