<a href="https://colab.research.google.com/github/sabsabrina/Data-Science-Real-Projects-in-Python/blob/main/Predict_Fare_of_Airlines_Tickets_using_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Understanding Data & Data Preprocessing

Read Data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive

drive.mount('/content/drive')
train_data = pd.read_excel("/content/drive/My Drive/dataset/Data_Train.xlsx")

Mounted at /content/drive

In [3]:
train_data.head()

       Airline Date_of_Journey    Source  ... Total_Stops Additional_Info  Price
0       IndiGo      24/03/2019  Banglore  ...    non-stop         No info   3897
1    Air India       1/05/2019   Kolkata  ...     2 stops         No info   7662
2  Jet Airways       9/06/2019     Delhi  ...     2 stops         No info  13882
3       IndiGo      12/05/2019   Kolkata  ...      1 stop         No info   6218
4       IndiGo      01/03/2019  Banglore  ...      1 stop         No info  13302

[5 rows x 11 columns]

Check for Data Shape

In [4]:
train_data.shape

(10683, 11)

Check for Missing Values

In [5]:
train_data.isna().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

Drop Missing Values

In [6]:
train_data.dropna(inplace=True)

In [7]:
train_data.isna().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

Check for Data Types

In [8]:
train_data.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object

Change into Date Time

In [9]:
def change_into_datetime(col):
  train_data[col] = pd.to_datetime(train_data[col])

In [10]:
train_data.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

In [11]:
for i in ['Date_of_Journey','Dep_Time', 'Arrival_Time'] :
  change_into_datetime(i)

In [12]:
train_data.dtypes

Airline                    object
Date_of_Journey    datetime64[ns]
Source                     object
Destination                object
Route                      object
Dep_Time           datetime64[ns]
Arrival_Time       datetime64[ns]
Duration                   object
Total_Stops                object
Additional_Info            object
Price                       int64
dtype: object

Split Date_of_Journey Data

In [13]:
train_data['journey_day'] = train_data['Date_of_Journey'].dt.day
train_data['journey_month'] = train_data['Date_of_Journey'].dt.month

In [14]:
train_data.head()

       Airline Date_of_Journey    Source  ...  Price journey_day journey_month
0       IndiGo      2019-03-24  Banglore  ...   3897          24             3
1    Air India      2019-01-05   Kolkata  ...   7662           5             1
2  Jet Airways      2019-09-06     Delhi  ...  13882           6             9
3       IndiGo      2019-12-05   Kolkata  ...   6218           5            12
4       IndiGo      2019-01-03  Banglore  ...  13302           3             1

[5 rows x 13 columns]

Drop Date_of_Journey Column

In [15]:
train_data.drop('Date_of_Journey', axis=1 , inplace=True)

In [16]:
train_data.head()

       Airline    Source Destination  ...  Price journey_day journey_month
0       IndiGo  Banglore   New Delhi  ...   3897          24             3
1    Air India   Kolkata    Banglore  ...   7662           5             1
2  Jet Airways     Delhi      Cochin  ...  13882           6             9
3       IndiGo   Kolkata    Banglore  ...   6218           5            12
4       IndiGo  Banglore   New Delhi  ...  13302           3             1

[5 rows x 12 columns]

Extract Derived Features from Data

Extract Hour and Minute

In [17]:
def extract_hour(df,col):
  df[col+'_hour'] = df[col].dt.hour

def extract_min(df,col):
  df[col+'_minute'] = df[col].dt.minute

def drop_column(df,col):
  df.drop(col,axis=1,inplace=True)

In [18]:
#Extract Dep_Time
extract_hour(train_data,'Dep_Time')
extract_min(train_data,'Dep_Time')
drop_column(train_data,'Dep_Time')

#Extract Arrival_Time
extract_hour(train_data,'Arrival_Time')
extract_min(train_data,'Arrival_Time')
drop_column(train_data,'Arrival_Time')

In [19]:
train_data.head()

       Airline    Source  ... Arrival_Time_hour Arrival_Time_minute
0       IndiGo  Banglore  ...                 1                  10
1    Air India   Kolkata  ...                13                  15
2  Jet Airways     Delhi  ...                 4                  25
3       IndiGo   Kolkata  ...                23                  30
4       IndiGo  Banglore  ...                21                  35

[5 rows x 14 columns]

Fix the values of the 'Duration' column

In [20]:
x = '2h 50m'
len(x.split(' '))

2

In [21]:
duration = list(train_data['Duration'])

In [22]:
for i in range(len(duration)):
  if len(duration[i].split(' '))==2 :
    pass
  else :
    if 'h' in duration[i] :
      duration[i] = duration[i] + ' 0m'
    else :
      duration[i] = '0h ' + duration[i]

Replace values of 'Duration' with new format

In [23]:
train_data['Duration'] = duration

In [24]:
train_data.head()

       Airline    Source  ... Arrival_Time_hour Arrival_Time_minute
0       IndiGo  Banglore  ...                 1                  10
1    Air India   Kolkata  ...                13                  15
2  Jet Airways     Delhi  ...                 4                  25
3       IndiGo   Kolkata  ...                23                  30
4       IndiGo  Banglore  ...                21                  35

[5 rows x 14 columns]

Perform Data Pre-Processing

To get only the number of hour or minute

In [27]:
#Example
#Hour
#'2h 50m'.split(' ')[0][0:-1]
#Minute
'2h 50m'.split(' ')[1][0:-1]

'50'

In [28]:
def hour(x):
  return x.split(' ')[0][0:-1]

def minute(x):
  return x.split(' ')[1][0:-1]

In [29]:
train_data['Duration_hours'] = train_data['Duration'].apply(hour)
train_data['Duration_mins'] = train_data['Duration'].apply(minute)

In [30]:
train_data.head()

       Airline    Source  ... Duration_hours Duration_mins
0       IndiGo  Banglore  ...              2            50
1    Air India   Kolkata  ...              7            25
2  Jet Airways     Delhi  ...             19             0
3       IndiGo   Kolkata  ...              5            25
4       IndiGo  Banglore  ...              4            45

[5 rows x 16 columns]

Drop Column 'Duration'

In [31]:
drop_column(train_data,'Duration')

In [32]:
train_data.dtypes

Airline                object
Source                 object
Destination            object
Route                  object
Total_Stops            object
Additional_Info        object
Price                   int64
journey_day             int64
journey_month           int64
Dep_Time_hour           int64
Dep_Time_minute         int64
Arrival_Time_hour       int64
Arrival_Time_minute     int64
Duration_hours         object
Duration_mins          object
dtype: object

Change datatype of Duration_hours & Duration_mins

In [33]:
train_data['Duration_hours'] = train_data['Duration_hours'].astype(int)
train_data['Duration_mins'] = train_data['Duration_mins'].astype(int)

In [34]:
train_data.dtypes

Airline                object
Source                 object
Destination            object
Route                  object
Total_Stops            object
Additional_Info        object
Price                   int64
journey_day             int64
journey_month           int64
Dep_Time_hour           int64
Dep_Time_minute         int64
Arrival_Time_hour       int64
Arrival_Time_minute     int64
Duration_hours          int64
Duration_mins           int64
dtype: object

Create Data Categories

In [36]:
#Categorical columns
cat_col = [col for col in train_data.columns if train_data[col].dtype=='O']
cat_col

['Airline', 'Source', 'Destination', 'Route', 'Total_Stops', 'Additional_Info']

In [37]:
#Continuous columns
cont_col = [col for col in train_data.columns if train_data[col].dtype!='O']
cont_col

['Price',
 'journey_day',
 'journey_month',
 'Dep_Time_hour',
 'Dep_Time_minute',
 'Arrival_Time_hour',
 'Arrival_Time_minute',
 'Duration_hours',
 'Duration_mins']

Handle Categorical Data & Feature Encoding