<a href="https://colab.research.google.com/github/crzysab/Data-Science-Real-Projects-in-Python/blob/main/Predicting_Covid_19_Cases.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Predicting Covid-19 Cases using Facebook Prophet**

___

**Perform Data Pre-Processing on data**

In [1]:
from fbprophet import Prophet

In [2]:
import pandas as pd
from google.colab import drive

In [3]:
drive.mount('/content/drive')
df = pd.read_csv("/content/drive/My Drive/dataset/covid_19_clean_complete.csv")

Mounted at /content/drive

In [4]:
df.head()

  Province/State Country/Region  ...  Active             WHO Region
0            NaN    Afghanistan  ...       0  Eastern Mediterranean
1            NaN        Albania  ...       0                 Europe
2            NaN        Algeria  ...       0                 Africa
3            NaN        Andorra  ...       0                 Europe
4            NaN         Angola  ...       0                 Africa

[5 rows x 10 columns]

In [5]:
df.dtypes

Province/State     object
Country/Region     object
Lat               float64
Long              float64
Date               object
Confirmed           int64
Deaths              int64
Recovered           int64
Active              int64
WHO Region         object
dtype: object

In [6]:
df['Date'] = pd.to_datetime(df['Date'])

In [7]:
df.dtypes

Province/State            object
Country/Region            object
Lat                      float64
Long                     float64
Date              datetime64[ns]
Confirmed                  int64
Deaths                     int64
Recovered                  int64
Active                     int64
WHO Region                object
dtype: object

In [8]:
df.isna().sum()

Province/State    34404
Country/Region        0
Lat                   0
Long                  0
Date                  0
Confirmed             0
Deaths                0
Recovered             0
Active                0
WHO Region            0
dtype: int64

In [9]:
df['Date'].nunique()

188

In [11]:
total = df.groupby(['Date'])['Confirmed','Deaths','Recovered','Active'].sum().reset_index()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning:

Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [12]:
total.head()

        Date  Confirmed  Deaths  Recovered  Active
0 2020-01-22        555      17         28     510
1 2020-01-23        654      18         30     606
2 2020-01-24        941      26         36     879
3 2020-01-25       1434      42         39    1353
4 2020-01-26       2118      56         52    2010

**Applying Facebook Prophet Model on Data**

In [13]:
df_prophet = total.rename(columns={'Date':'ds','Confirmed':'y'})

In [14]:
df_prophet.head()

          ds     y  Deaths  Recovered  Active
0 2020-01-22   555      17         28     510
1 2020-01-23   654      18         30     606
2 2020-01-24   941      26         36     879
3 2020-01-25  1434      42         39    1353
4 2020-01-26  2118      56         52    2010

In [15]:
m = Prophet()

In [16]:
model = m.fit(df_prophet)

INFO:numexpr.utils:NumExpr defaulting to 2 threads.
INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

**Create Future Data for Prediction Purpose**

In [17]:
model.seasonalities

OrderedDict([('weekly',
              {'condition_name': None,
               'fourier_order': 3,
               'mode': 'additive',
               'period': 7,
               'prior_scale': 10.0})])

In [18]:
future_global = model.make_future_dataframe(periods=30, freq='D')

In [19]:
future_global.head()

          ds
0 2020-01-22
1 2020-01-23
2 2020-01-24
3 2020-01-25
4 2020-01-26

In [21]:
df_prophet.shape

(188, 5)

In [20]:
future_global.shape

(218, 1)

In [24]:
df_prophet['ds'].tail()

183   2020-07-23
184   2020-07-24
185   2020-07-25
186   2020-07-26
187   2020-07-27
Name: ds, dtype: datetime64[ns]

In [25]:
future_global.tail()

            ds
213 2020-08-22
214 2020-08-23
215 2020-08-24
216 2020-08-25
217 2020-08-26