<a href="https://colab.research.google.com/github/sabsabrina/Data-Science-Real-Projects-in-Python/blob/main/Predict_Fare_of_Airlines_Tickets_using_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Understanding Data & Data Preprocessing

Read Data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive

drive.mount('/content/drive')
train_data = pd.read_excel("/content/drive/My Drive/dataset/Data_Train.xlsx")

Mounted at /content/drive

In [3]:
train_data.head()

       Airline Date_of_Journey    Source  ... Total_Stops Additional_Info  Price
0       IndiGo      24/03/2019  Banglore  ...    non-stop         No info   3897
1    Air India       1/05/2019   Kolkata  ...     2 stops         No info   7662
2  Jet Airways       9/06/2019     Delhi  ...     2 stops         No info  13882
3       IndiGo      12/05/2019   Kolkata  ...      1 stop         No info   6218
4       IndiGo      01/03/2019  Banglore  ...      1 stop         No info  13302

[5 rows x 11 columns]

Check for Data Shape

In [5]:
train_data.shape

(10683, 11)

Check for Missing Values

In [4]:
train_data.isna().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

Drop Missing Values

In [6]:
train_data.dropna(inplace=True)

In [7]:
train_data.isna().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

Check for Data Types

In [8]:
train_data.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object

Change into Date Time

In [9]:
def change_into_datetime(col):
  train_data[col] = pd.to_datetime(train_data[col])

In [10]:
train_data.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

In [11]:
for i in ['Date_of_Journey','Dep_Time', 'Arrival_Time'] :
  change_into_datetime(i)

In [12]:
train_data.dtypes

Airline                    object
Date_of_Journey    datetime64[ns]
Source                     object
Destination                object
Route                      object
Dep_Time           datetime64[ns]
Arrival_Time       datetime64[ns]
Duration                   object
Total_Stops                object
Additional_Info            object
Price                       int64
dtype: object

Split Date_of_Journey Data

In [13]:
train_data['journey_day'] = train_data['Date_of_Journey'].dt.day
train_data['journey_month'] = train_data['Date_of_Journey'].dt.month

In [14]:
train_data.head()

       Airline Date_of_Journey    Source  ...  Price journey_day journey_month
0       IndiGo      2019-03-24  Banglore  ...   3897          24             3
1    Air India      2019-01-05   Kolkata  ...   7662           5             1
2  Jet Airways      2019-09-06     Delhi  ...  13882           6             9
3       IndiGo      2019-12-05   Kolkata  ...   6218           5            12
4       IndiGo      2019-01-03  Banglore  ...  13302           3             1

[5 rows x 13 columns]

Drop Date_of_Journey Column

In [15]:
train_data.drop('Date_of_Journey', axis=1 , inplace=True)

In [16]:
train_data.head()

       Airline    Source Destination  ...  Price journey_day journey_month
0       IndiGo  Banglore   New Delhi  ...   3897          24             3
1    Air India   Kolkata    Banglore  ...   7662           5             1
2  Jet Airways     Delhi      Cochin  ...  13882           6             9
3       IndiGo   Kolkata    Banglore  ...   6218           5            12
4       IndiGo  Banglore   New Delhi  ...  13302           3             1

[5 rows x 12 columns]